.mainheading{
     text-align: center;
     
}


body{
     font-family: Arial, Helvetica, sans-serif;
}



label{
    
    font-family: Arial, Helvetica, sans-serif;
}


.a2{
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    background-color: white;
    font-size: 15px;
}

.form{
    font-family: Arial, Helvetica, sans-serif;
     text-align: left;
}


.button {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    color: black;
    background-color: red;
    border-radius: .25rem;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s 
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-right{
    top:10%;
    left:80%;
    position:absolute;
}

.btn-left{
    top: 10%;
    left:20%;
    position:absolute;
}

#div-center{
    position: absolute;
    left: 45%;
    
}

#div-text-center{
    position: relative;
    left: 45%;
}



.img-resize{
    width: auto;
    height: 50%;
    float: left;
    position: absolute;
    top: 200px;
    left:20px;
}

.img-resize2{
    width: auto;
    height: 50%;
    float: right;
    position: absolute;
    top: 200px;
    left: 1000px
}

.sport-div{
    position: absolute;
    left: 42.5%;
}

.man-utd-img{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 70%;
}

.rashford-img{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 15%;
}