#section1{
    background-image:url(https://images2.alphacoders.com/441/441501.jpg);
    background-size:cover;
            background-repeat:no-repeat;
            width:100%;
            height: 100%;
   
}

#section2{
    background-image:url(https://images.sharefaith.com/images/3/1463434090571_33/img_mouseover3.jpg);
     background-size:cover;
            background-repeat:no-repeat;
            width:100%;
            height: 100%;
    
}

#section3{
    background-image:url(https://ak9.picdn.net/shutterstock/videos/9120659/thumb/1.jpg?i10c=img);
    background-size:cover;
            background-repeat:no-repeat;
            width:100%;
            height:100%;

}

.section{
    text-align: center;
    color: Black;
}

