#section1{
    background-image:url(https://images2.alphacoders.com/441/441501.jpg);
    background-size:cover;
            background-repeat:no-repeat;
            width:100%;
            height: 100%;
   
}

#section2{
    background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ZosI56d/canadian-flag-formed-with-red-smoke-on-white-background-canada-background_rcmc-zajye_thumbnail-full06.png);
     background-size:cover;
            background-repeat:no-repeat;
            width:100%;
            height: 100%;
            
    
}

#section3{
    background-image:url(https://ak9.picdn.net/shutterstock/videos/9120659/thumb/1.jpg?i10c=img);
    background-size:cover;
            background-repeat:no-repeat;
            width:100%;
            height:100%;

}

.section{
    text-align: center;
    color: Black;
    
}

#cloud-section1{
    background-color: rgb(238, 0, 90);
}

#cloud-section2{
    background-color: rgb(44, 62, 80);
}

#cloud-section3{
    background-color: rgb(51, 153, 204);
}

.list-center{
    left: 50;
}

.cloud-div{
    top: 55%;
    right: 30%;
    position: absolute;
}

